html {
    /* have decent sans fallbacks */
    font-family: "Source Sans 3", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #c50063;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    margin: 0.5em 0;
}

[data-highcontrast="true"] .letterGreen {
    font-weight: bold;
    background-color: #38c72b;
}

[data-highcontrast="true"] .letterYellow {
    background-color: #00c3ff;
    font-style: italic;
}

.letterBlack {
    background-color: #c6c6c6;
}

.letterGreen {
    background-color: #8bff81;
}

.letterYellow {
    background-color: #ecff69;
}

.horizRow {
    display: flex;
    flex-direction: row;
}

.horizRow > * {
    margin: 0 1em;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-row > * {
    margin: 2px 2px;
    border: 1px black solid;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsDemos > * {
    padding: 0px 2px;
    border: 1px black solid;
}

.keyboard-row {
    margin: 0.2em 0;
}

.keyboard-row > * {
    cursor: pointer;
    user-select: none;
    border: 1px black solid;
    border-radius: 3px;
    padding: 4px 4px;
    /* this forces the letters to be the same size */
    min-width: 1em;
    margin: 0 4px;

    /* center letters within border */
    text-align: center;
    display: inline-block;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#debug-data {
    font-size: 0.6em;
    color: #555;
}
